{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block header %}
    <h1><center>Registration Page</center></h1>
    <h2><center>Welcome {{first_name}}!</center></h2>
{% endblock %}

{% block content %}
    {% with messages=get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, msg in messages %}
                <p style="color: green;">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    
    <form action="/register" method="post">
        <br>
        <label for="username">Username</label>
        <input type="text" name="user_name" id="username">
        <br><br>

        <label for="pw">Password</label>
        <input type="password" name="password" id="pw">
        <br><br>

        <label for="hint">Hint</label>
        <input type="text" name="hint" id="hint">
        <br><br>

        <input type="submit" value="Submit">
    </form>
{% endblock %}